input{
    border-radius: 15px;
    font-size: 15px;
    width: 80px;
    text-align: center;
}
button{
    border-radius: 15px;
    width: 180px;
    font-size: large
}
.perguntas{
    padding-left: 44%;
    padding-top: 5%;
}