#raiz{
    text-align: center;
    margin-top: 180px;


}
input{
    border-radius: 15px;
    font-size: 15px;
    width: 80px;
    text-align: center;
}
button{
    border-radius: 15px;
    width: 180px;
    font-size: large
}
